/* Roboto Slab for titles and headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    /* Add fallback fonts here in case 'Roboto Slab' isn't available */
}

/* Fira Sans for paragraphs and text */
p, span {
    font-family: 'Fira Sans', sans-serif;
    /* Add fallback fonts here in case 'Fira Sans' isn't available */
}

#go-to-home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* You can also set a specific width and height if needed */
  width: 50px;
  height: 50px;
}

#stacked_small_multiples{
  margin-left: 70px;
  margin-right: 60px;
}

/* Margins for descriptions of charts <p> */
.description{
  margin-left: 110px;
  margin-right: 110px;
}