/* Roboto Slab for titles and headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
    /* Add fallback fonts here in case 'Roboto Slab' isn't available */
}

/* Fira Sans for paragraphs and text */
p, span {
    font-family: 'Fira Sans', sans-serif;
    /* Add fallback fonts here in case 'Fira Sans' isn't available */
}

#go-to-home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* You can also set a specific width and height if needed */
  width: 50px;
  height: 50px;
}

#stacked_small_multiples{
  margin-left: 70px;
  margin-right: 60px;
}

/* Margins for descriptions of charts <p> */

.description {
  margin-left: 110px;
  margin-right: 110px;
}

.code {
  font-family: Source Code Pro, sans-serif;
  /* Other font-related CSS properties like font-size, font-weight, etc. */
}

.number {
  margin-right: 15px; /* Adjust the value as needed */
}

.card-image {
  height: 160px; /* Adjust the height as needed */
  width: 100%;
  object-fit: cover; /* Maintains aspect ratio while covering the container */
}

/* Position of the dropdown menu in the navbar */
#dropdownMenu {
  left: 50%; /* Center the dropdown menu */
  transform: translateX(-50%); /* Adjust for half of the menu width */
}


.checkbox-container input {
  margin-left: 15px;
}

.container_radar_chart {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction
  margin: 0 auto;
  border: 3px solid #a31515;
  */
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.chart-title{
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}